{% load static %}

{# Общий для нескольких страниц div "Card-hover" #}

    <div class="Card-hover">
      {% if seller_product %}
        <a class="Card-btn" href="#">
          <img src="{% static "assets/img/icons/card/cart.svg" %}" alt="cart.svg"/>
        </a>
        <a class="Card-btn" href="{% url 'add-good-for-compare' card.product.id %}">
        <img src="{% static "assets/img/icons/card/change.svg" %}" alt="change.svg"/>
        </a>
      {% else %}
      <a class="Card-btn" href="{% url 'add-good-for-compare' card.id %}">
        <img src="{% static "assets/img/icons/card/change.svg" %}" alt="change.svg"/>
      </a>
      {% endif %}
    </div>
