{% extends "base/base.html" %}

{# Базовый шаблон для страниц оплаты  #}

{% block content %}

    <div class="Section">
      <div class="wrap">
        <form class="form Payment" action="#" method="post">
          <div class="Payment-card">

            {% block payment_card %}
            {% endblock payment_card %}

          </div>

          <div class="Payment-pay">
            <a class="btn btn_primary" href="{% url 'progress_payment' %}">Оплатить</a>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
