{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block sub_link %}

    <li class="breadcrumbs-item">
    <a href="{% url 'historyorder' %}">{% trans 'История заказов' %}</a>

{% endblock sub_link %}

{% block content %}

    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                    {% for key, order_dict in order_data.items %}
                      {% if key == 'order_dict' %}
                        <div class="row-block">
                            {% for key, value in order_dict.items %}
                                {% if key == 'added_date' %}
                                    <div class="Order-info Order-info_date">
                                        <div class="Order-infoType">{% trans 'Дата заказа:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'full_name' %}
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'ФИО:' %}:
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'phone' %}
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Телефон:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'email' %}
                                    <div class="Order-info">
                                        <div class="Order-infoType">E-mail:
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row-block">
                            {% for key, value in order_dict.items %}
                                {% if key == 'delivery' %}
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">{% trans 'Тип доставки:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'city' %}
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Город:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'address' %}
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Адрес:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'pay' %}
                                    <div class="Order-info Order-info_pay">
                                        <div class="Order-infoType">{% trans 'Оплата:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, value in order_dict.items %}
                                {% if key == 'payment_status' %}
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType">{% trans 'Статус:' %}
                                        </div>
                                        <div class="Order-infoContent">{{ value }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                      {% endif %}
                    {% endfor %}
                </div>
              </div>


              <div class="Cart Cart_order">
                  {% for key, value in order_data.items %}
                    {% if key == 'products_list' %}
                        {% for product in value %}
                            <div class="Cart-product">
                                <div class="Cart-block Cart-block_row">
                                    {% for key, value in product.items %}
                                        {% if key == "image" %}
                                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{value}}" alt="card.jpg" /></a>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, value in product.items %}
                                        {% if key == "category" %}
                                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{value}}</a>
                                            {% for key, value in product.items %}
                                                {% if key == "description" %}
                                                    <div class="Cart-desc">{{value}}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, value in product.items %}
                                        {% if key == "price" %}
                                            <div class="Cart-block Cart-block_price">
                                                <div class="Cart-price">{{value}} {% trans 'руб.' %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for key, value in product.items %}
                                    {% if key == "qty" %}
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_amount">{{value}} {% trans 'шт.' %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                  {% endfor %}

                {% for key, value in order_data.items %}
                    {% if key == 't_price' %}
                        <div class="Cart-total">
                          <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">Итого:<span class="Cart-price">{{ value }} {% trans 'руб.' %}</span>
                            </strong>
                          </div>
                            {% if pay_method == 'online' %}
                                <div class="Cart-block"><a class="btn btn_primary btn_lg" href="{% url 'pay_my_card' order_id %}">{% trans 'Оплатить' %}</a>
                            {% elif pay_method == 'someone' %}
                                <div class="Cart-block"><a class="btn btn_primary btn_lg" href="{% url 'pay_someone_card' order_id %}">{% trans 'Оплатить' %}</a>
                            {% endif %}
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
