{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Восстановление пароля" %}</title>
</head>
<body>
{% block content %}
    {% if validlink %}
        <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">{% trans "Восстановление пароля (2/2)" %}</h3>
                    <h5>{% trans "Придумайте новый пароль для учетной записи" %}</h5>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="{% trans "Сохранить пароль" %}" />
                    </div>
                </form>
        </div>
    {% else %}
        <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">{% trans "Восстановление пароля (2/2)" %}</h3>
                    <h5>{% trans "Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась." %}
                        {% trans "Пожалуйста, запросите сброс нового пароля." %}</h5>
                </div>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>