{% extends "base/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Восстановление пароля (1/2)</h3>
            <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
        </div>

        <form method="post">

            <div>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div>
                <input type="submit" value="Получить проверочный код" />
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>