{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Восстановление пароля" %}</title>
</head>
<body>
{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">{% trans "Восстановление пароля (1/2)" %}</h3>
            <h5>{% trans "Мы отправили вам инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время." %}</h5>
            <h5><br>{% trans "Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы указали при регистрации, и проверьте папку со спамом." %}</h5>
        </div>
    </div>
{% endblock %}
</body>
</html>