{% extends "base/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% block content %}
    {% if validlink %}
        <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                    <h5>Придумайте новый пароль для учетной записи</h5>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Сохранить пароль" />
                    </div>
                </form>
        </div>
    {% else %}
        <div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                    <h5>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
                        Пожалуйста, запросите сброс нового пароля.</h5>
                </div>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>