{% extends "base/base.html" %}
{% load static %}
{% load compare_app_templatetags %}


{% block content %}

    <div class="Section">
      <div class="wrap">
        {% if products_for_compare %}
          <article class="Article">
            <p>Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения соответствующий условий активизации.
            </p>
          </article>
          <div class="Compare">
            <div class="Compare-header">
              <label class="toggle Compare-checkDifferent">
                <input type="checkbox" name="differentFeature" value="true" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Только различающиеся характеристики</span>
              </label>
            </div>

            <div class="Compare-row">
              <div class="Compare-title Compare-title_blank">
              </div>
                {% for key, products_list in products_for_compare.items %}
                  {% if key == 'products' %}
                    {% for product in products_list %}
                      <div class="Compare-product">
                        <div class="Compare-nameProduct Compare-nameProduct_main">{{ product.name }}
                        </div>
                        <div class="Compare-feature">
                          {% with product.paths_to_good_images|first as first_image %}
                            <img class="Compare-pict" src="{% static first_image %}" alt="product.png"/>
                          {% endwith %}
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
            </div>

            <div class="Compare-row">
              <div class="Compare-title Compare-title_blank">
              </div>
              <div class="Compare-products">
                {% for key, products_list in products_for_compare.items %}
                  {% if key == 'products' %}
                    {% for product in products_list %}
                      <div class="Compare-product">
                        <div class="Compare-nameProduct">{{ product.name }}
                        </div>
                        <div class="Compare-feature">
                            <a class="Compare-btn" href="#">
                                <img src="{% static "assets/img/icons/card/cart.svg" %}" alt="cart.svg"/>
                            </a>
                            <a class="Compare-btn" href="/comparison/remove/{{ product.id }}/">
                                <img src="{% static "assets/img/icons/card/delete.svg" %}" alt="delete.svg"/>
                            </a>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="Compare-row">
              <div class="Compare-title">Рейтинг
              </div>
              <div class="Compare-products">
                {% for key, value in products_for_compare.items %}
                  {% if key == 'ratings' %}
                    {% for rating_dict in value %}
                      {% for r_key, r_value in rating_dict.items %}
                        <div class="Compare-product">
                          {% if r_key == 'product_name' %}
                            <div class="Compare-nameProduct">{{ r_value }}
                            </div>
                          {% elif r_key == 'rating' %}
                            <div class="Compare-feature">
                              <div class="Rating">
                                <div class="Rating-stars">
                                  {% for _ in r_value|getrange:"0" %}
                                    <span class="Rating-star Rating-star_view">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                        <g>
                                          <g>
                                            <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                          </g>
                                        </g>
                                      </svg>
                                    </span>
                                  {% endfor %}
                                  {% for _ in r_value|subtract:"5" %}
                                    <span class="Rating-star">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                          <g>
                                            <g>
                                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                            </g>
                                          </g>
                                      </svg>
                                    </span>
                                  {% endfor %}
                                </div>
                                <div class="Rating-title">
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            {% for key, value in products_for_compare.items %}
              {% if key == 'specifications_for_compare' %}
                {% for spec_name, spec_dicts_list in value.items %}
                  <div class="Compare-row">
                    <div class="Compare-title">{{ spec_name }}
                    </div>
                    <div class="Compare-products">
                      {% for specifications_products_dict in spec_dicts_list %}
                        <div class="Compare-product">
                          {% for spec_key, spec_value in specifications_products_dict.items %}
                            {% if spec_key == 'product_name' %}
                              <div class="Compare-nameProduct">{{ spec_value }}
                              </div>
                            {% elif spec_key == 'specification_value' %}
                              {% if spec_name == 'цена' or spec_name == 'Цена' %}
                                <div class="Compare-feature">
                                  <strong class="Compare-price">${{ spec_value }}
                                  </strong>
                                </div>
                              {% else %}
                                <div class="Compare-feature">{{ spec_value }}
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <article class="Article">
            <p>Товары для сравнения не добавлены
            </p>
          </article>
        {% endif %}
      </div>
    </div>

{% endblock %}
