{% extends "base/base.html" %}
{% load static %}

{% block body_header %}
{% endblock body_header %}

{% block content %}
    <h2>Настройки сайта</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ settings_forms.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <h3>Сброс кэша</h3>
    <form method="post" action="">
        {% csrf_token %}
        <p><button type="submit" name="section1">Сбросить кэш раздела 1</button></p>
        <p><button type="submit" name="section2">Сбросить кэш раздела 2</button></p>
        <p><button type="submit" name="section3">Сбросить кэш раздела 3</button></p>
        <p><button type="submit" name="all">Сбросить весь кэш</button></p>
    </form>


{% endblock content %}